<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>App</title>
  <style type="text/css">
    body {
      padding: 10px;
      font-size: 14px;
    }

    .owner-sign {
      width: 100px;
      height: 50px;
    }

    .member-info {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      border: 1px solid grey;
      padding: 10px;
    }

    .member-addr {
      text-align: start;
    }

    .invoice-table {
      width: 100%;
      border: 1px solid grey;
      padding: 10px;

    td {
      width: 80%;
      padding: 10px;
    }
    }

    .seperator {
      padding: 0;
    }

    .text-bold {
      font-weight: bold;
    }

    .amount-cell {
      text-align: right;
    }
  </style>

</head>

<body>
<table class="member-info">
  <tr>
    <td style="width: 50%" class="member-addr">
      <div class="text-bold">Invoice By:</div>
      <div><strong>{{franchise.companyName}}</strong></div>
      <div>
        {{franchise.addressObj.postalAddress}}<br>
        {{franchise.addressObj.cityVillage}}, {{franchise.addressObj.state}},
        {{franchise.addressObj.country}}, {{franchise.addressObj.pinCode}}
      </div>
    </td>
    <td>
      <table>
        <tr>
          <td>Contact No:</td>
          <td>{{franchise.contactNumber}}</td>
        </tr>
        <tr>
          <td>Email Id:</td>
          <td>{{franchise.emailId}}</td>
        </tr>
        {{#if data.isTaxApplicable}}
          <tr>
            <td>GST Number:</td>
            <td>{{franchise.gstNumber}}</td>
          </tr>
        {{/if}}
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td style="width:50%;" class="member-addr">
      <div class="text-bold">Invoice To:</div>
      <div><b>{{data.memberName}}</b></div>
      <div>
        {{#if data.billingAddress.addressName}}
          {{data.billingAddress.addressName}},<br>
        {{/if}}
        {{#if data.billingAddress.postalAddress}}
          {{data.billingAddress.postalAddress}},
        {{/if}}
        {{#if data.billingAddress.cityVillage}}
          {{data.billingAddress.cityVillage}}
          <br>
        {{/if}}
        {{#if data.billingAddress.state}}
          {{data.billingAddress.state}},
        {{/if}}
        {{#if data.billingAddress.country}}
          {{data.billingAddress.country}}.
        {{/if}}
      </div>
      <div>{{#if data.gstNumber}}
        GST No. {{data.gstNumber}},
      {{/if}}</div>
    </td>
    <td>
      <table>
        <tr>
          <td>Invoice Number :</td>
          <td>{{data.invoiceId}}</td>
        </tr>
        <tr>
          <td>Payment Date :</td>
          <td>{{data.date}}</td>
        </tr>
        <tr>
          <td>Payment Mode:</td>
          <td>{{data.paymentMode }}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<div>
  <div><br></div>
  <div><br></div>
  <div class="text-bold">Payment Details:</div>
  <table class="invoice-table">
    <tr>
      <td style="width: 75%;">{{data.program }} - {{data.noOfCycle}} Cycle Plan</td>
      <td class="amount-cell">{{{data.paymentObj.user.currency}}} {{data.paymentObj.user.orderAmount }}</td>
    </tr>
    {{#if data.paymentObj.user.taxObj}}
      {{#if data.paymentObj.user.taxObj.CGST}}
        <tr>
          <td>
            CGST({{data.paymentObj.user.taxObj.CGST.taxPercentage}} %)
          </td>
          <td class="amount-cell">{{data.paymentObj.user.currency}} {{data.paymentObj.user.taxObj.CGST.amount }}
          </td>
        </tr>
      {{/if}}
      {{#if data.paymentObj.user.taxObj.SGST}}
        <tr>
          <td> SGST({{data.paymentObj.user.taxObj.SGST.taxPercentage}} %)</td>
          <td class="amount-cell">{{data.paymentObj.user.currency}} {{data.paymentObj.user.taxObj.SGST.amount }}
          </td>
        </tr>
      {{/if}}
      {{#if data.paymentObj.user.taxObj.IGST}}
        <tr>
          <td> IGST({{data.paymentObj.user.taxObj.IGST.taxPercentage}} %)</td>
          <td class="amount-cell">{{data.paymentObj.user.currency}} {{data.paymentObj.user.taxObj.IGST.amount }}
          </td>
        </tr>
      {{/if}}
    {{/if}}
    {{#if data.paymentObj.user.discountAmount }}
      <tr>
        <td style="width: 75%;">Discount Amount</td>
        <td class="amount-cell">{{data.paymentObj.user.currency}} {{data.paymentObj.user.discountAmount}}</td>
      </tr>
    {{/if}}
    <tr>
      <td colspan="2" class="seperator">
        <hr>
      </td>
    </tr>
    <tr>
      <td class="text-bold">Total Amount</td>
      <td class="amount-cell text-bold">{{data.paymentObj.user.currency}} {{data.paymentObj.user.totalAmount}}</td>
    </tr>
  </table>
  <div><br></div>
  <div><br></div>
  <div style="display: flex; justify-content: space-between">
    <div></div>
    <div>
      <div class="owner-sign">
        {{img signImg "owner-sign"}}
      </div>
      <br>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;{{franchise.firstName}} {{franchise.lastName}}</span>
    </div>
  </div>
</div>
</body>

</html>
