<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Eatfit247</title>
  <style>
    @media print {
      .myDiv {
        break-inside: avoid;
      }
    }

    body {
      padding: 10px;
    }

    tr {
      page-break-inside: avoid;
      page-break-after: auto;
    }

    thead {
      display: table-header-group;
    }

    table {
      width: 100%;
      border: 1px solid #d3d3d3;;
      margin-top: 10px;
      margin-bottom: 10px;
      border-collapse: collapse;
      page-break-inside: auto;
    }

    td,
    th {
      border: 1px solid #d3d3d3;
      border-collapse: collapse;
      padding: 10px;
    }

    th {
      font-weight: bold
    }

    .recipe-section {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .recipe-item {
      display: flex;
      flex-direction: column;
      border: 1px solid #d3d3d3;
      margin-top: 12px;
      padding: 12px;
    }

    .recipe-title-section {
      display: grid;
      grid-template-columns: 60% 40%;
      align-items: center;
    }

    .recipe-image {
      width: 100%;
      height: 250px;
      border-radius: 25px;
      border: 1px solid #d3d3d3;
    }

    .recipe-title {
      margin-left: -60px;
      padding: 20px;
      background: whitesmoke;
      font-size: 26px;
    }

    .recipe-meta-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 12px;
      padding: 12px;
      background: whitesmoke;
    }

    .recipe-data {
      margin-top: 12px;
      display: grid;
      grid-template-columns: 40% 60%;
      flex-direction: row;
    }

    .recipe-ingredient {

    }

    .recipe-method {

    }
  </style>
</head>

<body>
<div class='recipe-section'>
  <div class='recipe-item myDiv'>
    <div class='recipe-title-section'>
      <div class='recipe-image'>
        {{#each imagePath}}
          {{img webUrl "recipe-image"}}
        {{/each}}
      </div>
      <div class='recipe-title'>
        {{name}}
      </div>
    </div>
    <div class='recipe-meta-section'>
      <div>Serving: {{serving}}</div>
      <div>{{recipeType}}</div>
    </div>
    <div class='recipe-data'>
      <div class='recipe-ingredient'>
        <div style='font-size: 20px; font-style: italic; text-align: center'>Ingredients</div>
        <div style="font-style: 14px;">
          {{{ingredient}}}
        </div>
      </div>
      <div class='recipe-method'>
        <div style='font-size: 20px; font-style: italic; text-align: center'>Preparation Method</div>
        <div style="font-style: 14px;">
          {{{howToMake}}}
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>
